.content{
  background: #FFFFFF;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  padding: 48px 32px;
  width: 100%;
  max-height: 902px;
  overflow: hidden;
}

.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}

.breadcrumbs{
  display: flex;
  align-items: center;
  gap: 20px;

  & > img{
    max-height: 18px;
  }

  &__text{
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #424242;
  }
}

.date{
  &__text{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #41522E;
  }
}

.main{
  overflow: hidden;


  &__images{
    display: flex;
    align-items: center;
    gap: 12px;
    overflow: scroll;
    max-width: 599px;

    &::-webkit-scrollbar{
      width: 0;
    }
  }

  &__image{
    width: 164px;
  }

  &__hotels{
    margin-top: 28px;
    overflow: auto;
    height: 522px;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-track {
      background: #E7E7E7;
      border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #41522E;
      border-radius: 2px;
    }
  }
}

